<meta property="og:type" content="website">
<!-- <meta property="og:title" content="ATT // Another Thailand Tournament" /> -->
<!-- <meta property="og:description" content="Another Thai Tournament is a 1v1 tournament which allow Thai players with no badge to compete without any rank restriction. Brought to you by chantat on osu, namirin1, and Pado." /> -->
<!-- <meta property="og:url" content="https://att-osu.vercel.app" /> -->
<meta property="og:image" content="https://cdn.discordapp.com/attachments/531833851375386634/1031932023453012068/unknown.png" />
<meta name="theme-color" content="#ff5f5f" />

<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">

<link href="/static/custom.css" rel="stylesheet" />

<style>
  * {
    font-family: 'Prompt', sans-serif;
  }

  img {
    border-radius: 8px;
    box-shadow: 5px 5px 25px 8px rgba(0, 0, 0, 0.2);
    transition: transform .2s ease, box-shadow .2s ease;
  }
  img:hover {
    box-shadow: 8px 8px 35px 25px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
  }
</style>
