<meta property="og:type" content="website">
<meta property="og:title" content="ATT // Another Thailand Tournament" />
<meta property="og:description" content="Another Thai Tournament is a 1v1 tournament which allow Thai players with no badge to compete without any rank restriction. Brought to you by chantat on osu, namirin1, and Pado." />
<meta property="og:url" content="https://att-osu.vercel.app" />
<meta property="og:image" content="https://cdn.discordapp.com/attachments/531833851375386634/1031932023453012068/unknown.png" />
<meta name="theme-color" content="#ff5f5f" />

<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">

<link href="/static/custom.css" rel="stylesheet" />
