* {
  font-family: 'Prompt', sans-serif;
}

img {
  border-radius: 8px;
  box-shadow: 5px 5px 25px 8px rgba(0, 0, 0, 0.2);
  transition: transform .2s ease, box-shadow .2s ease;
}
img:hover {
  box-shadow: 8px 8px 35px 25px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}